<h1><%= @team.name %></h1>

<h2><%= @team.motto %></h2>

<% @members.each do |member| %>
  <h2>Hero Name: <%= member.name %></h2>
  <label>Hero Power: <%= member.power %></label>
  <label>Hero Biography: <%= member.bio %></label>
<% end %>
